.searchPage {
  padding: 3rem 4rem;
  .cardsSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 1rem;
  }
}
